<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="AppCore.ModulesConfigSection, AppCore"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <modules>
    <module name="moduleA" file="moduleA.dll" type="namespace.moduleA"/>
    <module name="moduleB" file="moduleB.dll" type="namespace.moduleB"/>
    <module name="moduleC" file="moduleC.dll" type="namespace.moduleC"/>
    <module name="moduleC" file="moduleC.dll" type="namespace.moduleC"/>
  </modules>
</configuration>
